.bodycont {
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

.articlecont {
  flex: 2;
  overflow-y: auto;
}
.asidecont {
  flex: 1;
  overflow-y: auto;
}
